@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
body {
  margin: 0;

  font-family: "Raleway", sans-serif !important;
  font-optical-sizing: auto !important; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;



    /* position: relative; */
    /* z-index: 10; */
    background-image:  url(./Assets/background.jpg);
    /* background-color: burlywood !important; */
    /* background-position: top center;
    background-repeat: no-repeat; */
  
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#preloader{
position: absolute;
width: 100%;
height: 100%;
z-index: 9999999;
background-color: #0c0513;
background-repeat: no-repeat;
background-position: center;
  
display: flex;
align-items: center;
justify-content: center;

}

#tsparticles {
  position:absolute;
}